@import url('https://fonts.cdnfonts.com/css/iranian-sans');
@import "./overwrite.css";
@import './productPage.css';
@import './postInfoBox.css';

.malltinaTextElement {
	font-family: 'Iranian Sans', sans-serif;
	direction: rtl;
}

body {
	position: relative;
}

#product-detail-app .sticky-header {
	height: unset !important;
}
.malltinaTopHeader {
	direction: rtl;
	padding: 10px 0;
	background-color: #061d72;
	width: 100%;
	color: #fff;
	font-family: 'Iranian Sans', sans-serif;
	height: 40px;
}
.malltinaTopHeader.isMobile {
	padding: 0;
	font-size: 12px;
	position: fixed;
	z-index: 102;
	height: unset;
}

.malltinaTopHeader nav {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}
.malltinaTopHeader.isMobile nav {
	width: unset;
	padding: 15px 10px 10px;
}

.malltinaTopHeader nav a {
	align-items: center;
	margin-left: 32px;
	font-family: 'Iranian Sans', sans-serif;
	color: #fff;
	cursor: pointer;
	padding: 5px;
}
.malltinaTopHeader nav a:hover,
.malltinaTopHeader nav a:active {
	background-color: #0e2886;
	color: #fff;
	text-decoration: none;
}

.malltinaTopHeader.isMobile a span {
	display: none;
}

.malltinaTopHeader nav img {
	width: 16px;
	height: 20px;
	margin-left: 10px;
}
.malltinaTopHeader .basketIcon {
	position: relative;
}
.basketIcon > small {
	position: absolute;
	top: -4px;
	right: 10px;
	color: #001f4a;
	background-color: #ffd012;
	text-align: center;
	line-height: 1;
	padding: 5px 3px 0;
	border-radius: 50%;
	min-width: 10px;
	min-height: 10px;
}
.malltinaTopHeader .malltinaLogo {
	all: initial;
	margin-right: auto;
}
.malltinaTopHeader .malltinaLogo > img {
	all: initial;
	width: 157px;
	height: 34px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}