.maltinaButton{
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: #f27a1a;
    font-size: 18px;
    letter-spacing: .03em;
    color: #fff;
    cursor: pointer;
}
body{
    background: #000;
    color: white;
}